log/*.log
tmp
.sass-cache
config/unicorn.yml
config/app_config.yml
config/database.yml
public/assets/*
config/gammurc
backup/data/*
backup/.cache
backup/.cache/*
backup/.tmp
backup/.tmp/*
backup/log
backup/log/*