//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

- if !errors.errors.nil?                  
  = content_tag(:ul, :id => 'errors') do    
    - errors.errors.full_messages.each do |e| 
      = content_tag(:li, e)
