//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

#page_footer
  = yield :footer
  - if authenticated_user
    = feedbacker_tag(nil, nil, {:name => authenticated_user.name, :email => authenticated_user.email_address})
  - else
    = feedbacker_tag(nil, nil, {:name => nil, :email => nil})

#subfooter
  = yield :subfooter

