defaults: &defaults
  adapter: mysql
  username: cdion
  password: password
  pool: 5
  timeout: 5000

development:
  database: weltel_dev
  <<: *defaults

test:
  database: weltel_test
  <<: *defaults

production:
  database: weltel_prod
  <<: *defaults
