- content_for :actions do
  = form_tag(weltel_dashboard_path, :method => :get) do
    = search_field_tag(:search, @search, {:size => 40, :tabindex => 1})
    = submit_tag(t(".search"))

%ol
  = render(:collection => @patients, :partial => 'item', :as => :patient)
