!!!
%html
  %head
    %title WelTel Administration
    %style{:type => 'text/css'}
      :plain
        table {
          border-collapse: collapse;
          font-size: 12px;
        }
        td, th {
          border: 1px solid black;
          padding: 5px;
          min-width: 120px;
        }

  %body
    = yield


