//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

!!!
%html
  %head
    %title WelTel Administration
    %style{:type => 'text/css'}
      :plain
        table {
          border-collapse: collapse;
          font-size: 12px;
        }
        td, th {
          border: 1px solid black;
          padding: 5px;
          min-width: 120px;
        }

  %body
    = yield


